<div class="container" data-pg-collapsed>
    <div class="lists-container" as-sortable="sortableOptions" ng-model="users">
        <div class="column-container" ng-class="{'shake shake-constant shake-little': settingsService.settings.isDragAndDropActive}"  ng-repeat="user in settingsService.settings.users" as-sortable-item >
            <div class="drag-zone" ng-show="settingsService.settings.isDragAndDropActive" as-sortable-item-handle>
                <h3>Drag me!</h3>
            </div>
            <tweet-list user="user"></tweet-list>
        </div>
    </div>
</div>