<div class="navbar navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">TweetDash</a>
            <button type="button" class="btn" data-toggle="modal" data-target="#addNewUserModal">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn" ng-class="{'active': settingsService.settings.isDragAndDropActive}" ng-click="toggleDragAndDrop()">
                <span class="glyphicon glyphicon-resize-horizontal" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn" skin-settings>
                <span class="glyphicon glyphicon-cog options-gear" aria-hidden="true"></span>
            </button>
        </div>
    </div>
</div>