<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Ricardo Macario">
    <title>Twitter Dashboard</title>
    <base href="/">
    <!-- Bootstrap core CSS -->
    <link href="lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="lib/ng-sortable/dist/ng-sortable.css" rel="stylesheet">
    <link href="lib/csshake/csshake.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="styles/styles.css" rel="stylesheet">
</head>
<body ng-app="app">

    <header></header>

    <div ng-view></div>

    <div ng-controller="addUserController" class="modal fade" id="addNewUserModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add New User</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Twitter Username:</label>
                            <input ng-model="model.user" ng-model-options="{'debounce': 500}" type="text" class="form-control" id="exampleInputEmail1" placeholder="Twitter Name">
                            <div class="loading-spinner" ng-show="model.loading">
                                <span class="glyphicon glyphicon-refresh spinning"></span>
                            </div>
                        </div>
                        <div class="users-list-holder">
                            <div ng-repeat="user in users" class="user" ng-click="addUser(user)" data-dismiss="#addNewUserModal">
                                <img ng-src="{{user.profile_image_url}}">
                                <h4>{{user.screen_name}}</h4>
                            </div>
                        </div>

                    </form>
                </div>
                <!--
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="addNewUserModal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div> -->
            </div>
        </div>
    </div>

    <script src="lib/jquery/dist/jquery.js"></script>
    <script src="lib/Autolinker.js/dist/Autolinker.js"></script>
    <script src="lib/moment/moment.js"></script>


    <script src="lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-route/angular-route.js"></script>
    <script src="lib/ng-sortable/dist/ng-sortable.js"></script>
    <script src="lib/angular-sanitize/angular-sanitize.js"></script>



    <script src="scripts/app.js"></script>

    <script src="scripts/controllers/dashboardController.js"></script>
    <script src="scripts/controllers/addUserController.js"></script>


    <script src="scripts/directives/header.js"></script>
    <script src="scripts/directives/tweetList.js"></script>
    <script src="scripts/directives/tweet.js"></script>
    <script src="scripts/directives/columnSettings.js"></script>
    <script src="scripts/directives/skinSettings.js"></script>
    <script src="scripts/directives/whenScrolled.js"></script>


    <script src="scripts/services/tweetsService.js"></script>
    <script src="scripts/services/usersService.js"></script>
    <script src="scripts/services/settingsService.js"></script>







</body>
</html>