<li class="tweet" data-pg-collapsed>
    <div class="header">
        <img ng-src="{{tweet.user.profile_image_url}}">
        <a ng-href="https://twitter.com/{{tweet.user.name}}" target="_blank" class="username">{{tweet.user.name}}</a>
        <a ng-href="https://twitter.com/{{tweet.user.name}}/status/{{tweet.id_str}}" target="_blank" class="time">{{tweet.created_at}}</a>
    </div>
    <div class="content" style="">
        <p ng-bind-html="tweet.text"> </p>
    </div>
</li>