<div class="tweet-list-container">
    <span class="glyphicon glyphicon-cog options-gear" column-settings></span>
    <h3 class="twitter-user-name">{{user.screen_name}}</h3>
    <div class="loading-spinner" ng-show="loading">
        <span class="glyphicon glyphicon-refresh spinning"></span>
    </div>
    <div class="tweets-container" when-scrolled="loadMore()" trigger-offset="0.1">
        <ul data-pg-collapsed>
            <tweet ng-repeat="tweet in tweets" tweet="tweet"></tweet>
        </ul>
    </div>
</div>