body {
    padding-top: 50px;
    height: 100%;
}

body.blue-sheet {
    background-color: rgb(14, 116, 175);
}

body.yellow-sheet {
    background-color: rgb(228, 226, 65);
}

body.green-sheet {
    background-color: rgb(86, 236, 88);
}

body.pink-sheet {
    background-color: rgb(249, 87, 234);
}

body.red-sheet {
    background-color: rgb(249, 87, 87);
}

.container {
    width: 100%;
}

.navbar button {
    color: white;
    position: relative;
    margin-right: 5px;
    margin-top: 8px;
    float: right;
}

.navbar button{
    border-color: #ffffff;
    background-color: rgba(0, 0, 0, 0);
}

.navbar button:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.navbar-header .navbar-brand {
    color: rgba(255, 255, 255, 0.76)
}
.navbar-header {
    width: 100%;
}

.lists-container {
    padding-top:50px;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.tweet-list-container {
    background-color:white;
    margin:10px;
    border-radius:3px;
    width:280px;
    display: inline-block;
    position: relative
}

.tweet-list-container .options-gear {
    position:absolute;
    top:8px;
    right:8px
}

.tweet-list-container .twitter-user-name {
    text-align:center
}

.tweet-list-container .tweets-container {
    height:400px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid #dcdcdc
}

.tweet-list-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.tweet {
    padding: 10px;
    position: relative;
    border-bottom: 1px solid #dcdcdc;
    text-align: left;
}

.tweet .header {
    position:relative;
    height:40px
}

.tweet .header img {
    position: absolute;
    top:4px;
    width: 35px;
}

.tweet .header .username {
    color: #008cbe;
    position: absolute;
    top: 0;
    left: 40px;
}

.tweet .header .time {
    position: absolute;
    top: 23px;
    left: 40px;
}

.tweet .content {
    margin-top:4px;
}

.tweet .content p {
    white-space:normal;
    text-align:justify
}

.tweet .tweet-link {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
}

.users-list-holder {
    height:300px;
    overflow-y: auto;
}

.users-list-holder .user {
    border-bottom: 1px solid #dcdcdc;
    padding-bottom: 10px;
}

.users-list-holder .user {
    border-bottom: 1px solid #dcdcdc;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 5px;
    cursor: pointer;
}

.users-list-holder .user:hover {
    background-color: rgb(241, 242, 244);
}

.users-list-holder .user img{
    width: 38px;
}

.users-list-holder .user h4{
    font-size: 14px;
    display: inline;
}

.as-sortable-item,
.as-sortable-placeholder {
    display: inline-block;
    height: 100%;
}

.as-sortable-un-selectable {
    overflow: hidden;
}

.drag-zone {
    height: 51px;
    border: 1px dashed black;
    margin-left: 10px;
    margin-right: 10px;
    cursor: move;
}

.drag-zone h3 {
    margin-top: 12px;
    text-align: center;
}

.popover{
    width: 200px;
}

.popover-content button {
    margin-bottom: 8px;
}

.tweet-list-container .loading-spinner {
    width: 100%;
    height: 20px;
    font-size: 1.5em;
    color: rgb(14, 116, 175);
    position: absolute;
    z-index: 10;
    margin-top: 50%;
    text-align: center;
}

.form-group .loading-spinner {
    width: 100%;
    height: 20px;
    font-size: 1.5em;
    color: rgb(14, 116, 175);
    position: absolute;
    z-index: 10;
    text-align: center;
    margin-top: 1%;

}

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}
